:host {
  display: block;
}

.post-card__image-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
  margin-bottom: 16px;
}

.post-card__image {
  align-self: center;
  max-height: 200px;
}
