:host {
  display: block;
}

.title {
  margin-top: 0;
}

.photo-container {
  width: 100%;
  height: 300px;
  margin-bottom: 1rem;
  text-align: center;
}

.photo {
  max-height: 100%;
  border-radius: var(--tui-radius-m);
}
