<button
  class="button button--icon"
  type="button"
  routerLink="/home"
  routerLinkActive="button--active"
>
  <i-feather name="home"></i-feather>
</button>

<button
  class="button button--icon"
  type="button"
  routerLink="/profile"
  routerLinkActive="button--active"
>
  <i-feather name="user"></i-feather>
</button>

<button
  class="button button--icon"
  type="button"
>
  <i-feather name="camera"></i-feather>
</button>

<button
  class="button button--icon"
  type="button"
>
  <i-feather name="settings"></i-feather>
</button>
