:host {
  padding: 8px;
  background-color: var(--tui-primary);
}

.logo {
  margin: 0;
  font-size: 26px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
  color: var(--tui-base-01);
}
