<h1 class="logo">Buqo</h1>

<tui-hosted-dropdown
  class="menu"
  tuiDropdownAlign="left"
  [content]="dropdown"
  [(open)]="open"
>
  <button
    tuiIconButton
    type="button"
    size="m"
  >
    <tui-svg
      class="icon"
      src="tuiIconMenuLarge"
    ></tui-svg>
  </button>
</tui-hosted-dropdown>

<ng-template #dropdown>
  <tui-data-list>
    <button
      *ngFor="let item of items"
      tuiOption
      class="menu__button"
      [routerLink]="item.routerLink"
      [routerLinkActive]="'menu__button--active'"
      (click)="menuItemClick()"
    >
      {{ item.name }}
    </button>
  </tui-data-list>
</ng-template>
