@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/OpenSans-Regular.woff2") format("woff2"),
  url("/assets/fonts/OpenSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/OpenSans-Medium.woff2") format("woff2"),
  url("/assets/fonts/OpenSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/OpenSans-Bold.woff2") format("woff2"),
  url("/assets/fonts/OpenSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 20px;

  &--full-height {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }
}

.button {
  background-color: var(--tui-primary);
  border: none;
  cursor: pointer;

  &--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    color: var(--tui-base-01);
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;

    &:active {
      transform: scale(0.9);
    }
  }

  &--active {
    color: var(--tui-accent);
  }
}

